.container {
  text-align: center;
}

#result-container {
  text-align: center;
}

/* .class {
  text-shadow: black;
} */

body {
  background-image: url(../img/bt5myz.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position-x: -100px;
}

.jumbotron {
  background: none;
  left: 60%;
}

#results {
  display: none;
  font-size: 200%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 65%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

#refresh-btn {
  margin: 0;
  position: absolute;
  top: 10%;
  left: 90%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}